@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin : 0;
    padding : 0;
    width : 100vw;
    height: 100vh;
    min-height: 100vh;
}

.h-wout-nav {
    height: calc(100vh - 4rem);
}

#gradientPreview {
    background: linear-gradient(transparent, rgba(45, 55, 72, 0.85),#2D3748);
}

#postPreview {
    cursor: pointer;
    border: solid transparent 2px;
    transition: border-color 200ms;
}

#postPreview:hover {
    border-color: aliceblue;
}

.bg-bl {
    background-color: #24334b;
}