@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin : 0;
    padding : 0;
    width : 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

.h-wout-nav {
    height: calc(100vh - 4rem);
}

#gradientPreview {
    background: linear-gradient(transparent, rgba(45, 55, 72, 0.85),#2D3748);
}

#postPreview {
    cursor: pointer;
    border: solid transparent 2px;
    transition: border-color 200ms;
}

#postPreview:hover {
    border-color: aliceblue;
}

.bg-bl {
    background-color: #24334b;
}

.form-anim {
    animation: formAppear 300ms;
}

.card-anim {
    animation: cardAppear 300ms;
}

@keyframes formAppear {
    from {
        opacity : 0;
        transform : translateY(100px);
    }

    to {
        opacity : 1;
        transform : translateY(0px);
    }
}

@keyframes cardAppear {
    from {
        opacity : 0;
        transform : translateX(-100px);
    }

    to {
        opacity : 1;
        transform : translateX(0px);
    }
}